.label {
  display: flex;
  align-items: center;
  gap: var(--spacing-8, 8px);
  font: var(--body-2-500, 500 15px/22px var(--font-family));
  color: var(--on-surface-10, rgba(43, 43, 43, 1));
  user-select: none;
  line-height: 1;
}

.label:has(+ input:disabled),
.label:has(+ textarea:disabled),
.label:has(+ select:disabled) {
  cursor: not-allowed;
  opacity: 0.5;
}
